use axum::{Json, response::IntoResponse};
use serde::Serialize;

#[derive(Serialize)]
struct {{ .Name.Pascal }}Response {
    resource: &'static str,
}

pub async fn {{ .Name.Snake }}() -> impl IntoResponse {
    Json({{ .Name.Pascal }}Response { resource: "{{ .Name.Kebab }}" })
}
